In [1]:
from fatec_space_service import FatecSpaceService

In [2]:
service = FatecSpaceService()

# Avaliações dos usuários

Um painel para os administradores consultarem em tempo real as avaliações do aplicativo

In [3]:
service.get_data_frame()

            Usuário Jogabilidade Controles Layout Criatividade
0            adrian            5         4      5            5
1            JonyHM            5         5      5            5
2             amora            5         5      5            5
3              rafa            4         2      5            3
4            ariana            0         0      0            0
5           Gabriel            5         5      5            5
6             erica            5         5      5            5
7               Rei            5         5      4            5
8             Joyce            3         2      3            1
9          Danielle            5         4      5            5
10         paulista            4         4      5            5
11            Edson            4         5      5            4
12           Nathan            5         2      3            3
13            Andre            5         5      5            5
14          Jessica            5         4      5            4
15        agliberto            5         5      5            4
16            denis            5         4      5            5
17  zika do pantano            0         0      0            0
18             Igor            0         0      0            0
19           carlos            4         4      4            5
20             Davi            4         4      5            4
21           Felipe            4         5      5            5
22              dsc            5         5      5            5
23          jubebsl            0         0      0            0
24           ramonn            0         0      0            0
25            joyce            5         5      4            4
26             Herb            0         0      0            0