In [1]:
from fatec_space_service import FatecSpaceService

In [2]:
service = FatecSpaceService()

# Avaliações dos usuários

Um painel para os administradores consultarem em tempo real as avaliações do aplicativo

In [3]:
service.get_data_frame()

   Usuário Jogabilidade Controles Layout Criatividade
0    Carol            5         5      5            5
1  kallwan            0         0      0            0
2    Talis            5         5      5            5